/* ============= VARIABLES ============= */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #434455;
  --dark-color: #2e2f42;
  --brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --white-color: #ffffff;
  --light-bg-color: #f4f4fd;
}
/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 76px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.centered-text {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.social-links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}

.social-link-icon {
  fill: var(--light-bg-color);
}
/* ============= /COMMON STYLES ============= */

/* ============= HEADER ============= */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  gap: 76px;
  align-items: center;
  padding: 24px 0;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.header-logo-secondary {
  color: var(--dark-color);
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: var(--accent-color);
}

.nav-item.active-page {
  position: relative;
  color: var(--accent-color);
}

.nav-item.active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-section {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item:hover,
.contacts-list-item:focus {
  color: var(--accent-color);
}
/* ============= /HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: var(--dark-color);
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  display: block;
  min-width: 169px;
  background-color: var(--brand-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}
/* ============= /HERO ============= */

/* ============= APPROACH ============= */
.approach-list {
  display: flex;
  gap: 24px;
}

.approach-item {
  width: calc((100% - 3 * 24px) / 4);
}

.approach-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--light-bg-color);
}
/* ============= /APPROACH ============= */

/* ============= TEAM ============= */
.team-section {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.team-info {
  padding: 32px 0;
}

.team-section .card-text {
  margin-bottom: 8px;
}

.team-info .social-links-list {
  gap: 24px;
}

/* hover/focus for team social links */
.team-section .social-links-link:hover,
.team-section .social-links-link:focus {
  background-color: #404bbf;
}
/* ============= /TEAM ============= */

/* ============= PORTFOLIO ============= */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-bg-color);
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-info {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}


/* ============= /PORTFOLIO ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-infor {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-secondary {
  color: var(--light-bg-color);
}

.footer-description {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-bg-color);
}

.footer-social-links .social-links-list {
  gap: 16px;
}

.footer-social-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

/* hover/focus for footer social links */
.footer .social-links-link:hover,
.footer .social-links-link:focus {
  background-color: #31d0aa;
}
/* ============= /FOOTER ============= */
